*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
:root
{
    --black:#333;
    --white:rgb(255, 255, 255);
    --grey:rgb(190, 190, 190);
}

.dark
{
    --black:#fff;
    --white:#333;
}
header
{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
}
header .logo
{
    position: relative;
    display: inline-flex;
    color: var(--black);
    text-decoration: none;
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-shadow: 5px 5px var(--grey);
}
header .logo:hover
{
    transform: rotateX(180deg);
}

.rightSide
{
    display: flex;
}
.btns
{
    position: relative;
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}
.btns ion-icon
{
    font-size: 2em;
    color:var(--black) ;
}
.btns .MenuToggle ion-icon
{
    font-size: 3em;
}
.btns ion-icon:nth-child(2)
{
    display: none;
}
.btns.active ion-icon:nth-child(2)
{
    display: block;
}
.btns.active ion-icon:nth-child(1)
{
    display: none;
}
.main
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(300%), contrast(2.5);
    
}
.mask
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    user-select: none;
    mix-blend-mode: screen;
    
}
.dark .mask
{
    filter:invert(1);
    mix-blend-mode: saturation;
}
.dark .mask .shadow::before
{
    background: var(--black);
}
.main h2
{
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 3;
    font-size: 16vw;
    color: #fff;
    text-shadow: 0 20px 30px rgba(0,0,0,0.2);
    cursor: pointer;
    top:-50px;
}

 h2 span
{
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 5px 5px 0 rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
 }
  h2 span:nth-child(2n+0):hover
{
    color:rgb(60, 60, 73);
    transform: scale(1.4) rotate(15deg);
    text-shadow: 5px 5px #558ABB;
    letter-spacing: 0.2em;
}
h2 span:nth-child(2n+1):hover
{
    color:rgb(60, 60, 73);
    transform: scale(1.4) rotate(-15deg);
    text-shadow: 5px 5px #558ABB;
    letter-spacing: 0.2em;
}
.navigation
{
    position: absolute;
    top: 0;
    left:-100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background: var(--white);
    z-index: 4;
    transition: 0.5s;
}
.navigation.active
{
    left: 0;
}

.navigation li
{
    list-style: none;

}
.navigation li a
{
    display: inline-flex;
    margin:5px 0;
    font-size: 2em;
    text-decoration: none;
    color: var(--black);
    padding: 20px 60px;
    border-radius: 40px;
}
.navigation li a:hover
{
    background: var(--black);
    color: var(--white);
}
.proverbe1
{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color:var(--black);
}
.proverbe2
{
    position: absolute;
    left: 100px;
    bottom: 40px;
    z-index: 4;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color:var(--black);
}
.copyright
{
    position: absolute;
    right: 100px;
    bottom: 40px;
    z-index: 4;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    color:var(--black); 
}

/**********************popup home***********/

.popup1
{
    position: absolute;
    top:50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    background: var(--black);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
    border-radius: 8px;
    visibility: hidden;
    opacity:0;
    transition: .5s;
    z-index: 5;
}

.popup1:target
{
    visibility: visible;
    opacity: 1;
    
}
.popup1_content
{
    /*position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;*/
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    
    
}
.popup1_close
{
    position: absolute;
    right: 30px;
    top:0;
    text-decoration: none;
    color: grey;
    font-size: 3em;
}
/* /********content popup1****** */

 .card
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 300px;
    border-radius: 20px;
    background: url(media/PortraitNpt.jpg)center top no-repeat;
    background-size: 300px;
    top:-50px;
    box-shadow: 0px 70px 80px -40px #000;
    
}

.border
{
   position: relative; 
   height: 340px;
   width: 260px;
   background: transparent;
   border-radius: 20px;
   opacity: 0;
  
}
.border:hover
{
    opacity: 0.9;
    border: 3px solid #fff;    
}

.icons
{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #e1e1e1;
    height: 160px;
    width: 50px;
    top:175px;
    font-size:1.5rem;
    cursor:pointer;
    
}
a 
{
    text-decoration: none; 
    color:#e1e1e1;
    
}
.card h2
{
    font-family: 'Kanit', sans-serif;
    margin:15px;
    color: #e1e1e1;
    font-size: 2rem;
} 
.card h3
{
    position: absolute;
    left:90px;
    bottom:0px;
    width: 150px;
    font-family: 'Kanit', sans-serif;
    margin:15px;
    color: #e1e1e1;
    
}
.card ion-icon:hover
{
    opacity: 0.7;
    box-shadow: 0px 0px 10px rgba(204, 32, 32, 0.788),
    inset 5em 5em rgba(204, 32, 32, 0.788);
    border-radius: 30%;
}
.card:hover
{
    background: url(media/PortraitNpt.jpg) center no-repeat;
    background: url(media/PortraitNpt.jpg)  left no-repeat;
    background-size: 500px;
    
}
.card, 
.border,
.card h2,
.card ion-icon
{
    transition: background 1.5s,  opacity 0.7s ease-in-out;
}
/************popupAbout******/
.popup2
{
    position: absolute;
    top:50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    background: var(--black);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
    border-radius: 8px;
    visibility: hidden;
    opacity:0;
    transition: .5s;
    z-index: 5;
}

.popup2:target
{
    visibility: visible;
    opacity: 1;
    
}
.popup2_content
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 550px;
    display: flex;
    flex-direction: row;
    
}
.popup2_close
{
    position: absolute;
    right: 30px;
    top:0;
    text-decoration: none;
    color: grey;
    font-size: 3em;
}
/*********popup2_content*********/

.popup2_text
{
    position: relative;
    width: 450px;
    height:550px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--white);
    font-size: 1.5em;
    padding: 20px;
}
.popup2_list
{
    position: relative;
    width: 450px;
    height:550px;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--white);
    padding: 20px;
}
.popup2_list li
{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.popup2_list li:hover
{
   color: var(--grey);
}

/*********popupSkills******/
.popup3
{
    position: absolute;
    top:50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    background: var(--black);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
    border-radius: 8px;
    visibility: hidden;
    opacity:0;
    transition: .5s;
    z-index: 5;
}

.popup3:target
{
    visibility: visible;
    opacity: 1;
    
}
.popup3_content
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.popup3_close
{
    position: absolute;
    right: 30px;
    top:0;
    text-decoration: none;
    color: grey;
    font-size: 3em;
}
/*************popup3_content******/
.name_skills
{
    display: flex;
    flex-direction: column;
    color:var(--white);
    font-size: 1.5em;
}
.name_skills span
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--black);
    font-size: 1.5em;
    width: 250px;
    font-family: "Kanit", sans-serif;
    margin:10px 0;
    background-color: var(--white);
    box-shadow: inset 22.82px 22.82px 16px #bebfc2, inset -22.82px -22.82px 16px var(--white);
    border-radius: 50px;
}
.bar_skills
{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.bar
{
    width:400px;
    height: 30px;
    margin:22px 30px;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: inset 22.82px 22.82px 16px #bebfc2, inset -22.82px -22.82px 16px var(--white);
}
.bar .progress1
{
    height: 100%;
    width: 80%;
    background: linear-gradient(to right,rgb(236, 157, 91), rgb(221, 99, 17));
    border-radius: 20px;
    border: 1px solid var(--black);
}
.bar .progress1 p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.bar .progress2
{
    height: 100%;
    width: 90%;
    background: linear-gradient(to right,rgb(91, 236, 91), rgb(50, 212, 10));
    border-radius: 20px;
    border: 1px solid var(--black);
}
.bar .progress2 p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.bar .progress3
{
    height: 100%;
    width: 75%;
    background: linear-gradient(to right,rgb(91, 137, 236), rgb(17, 65, 221));
    border-radius: 20px;
    border: 1px solid var(--black);
}
.bar .progress3 p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.bar .progress4
{
    height: 100%;
    width: 40%;
    background: linear-gradient(to right,rgb(236, 91, 91), rgb(221, 17, 17));
    border-radius: 20px;
    border: 1px solid var(--black);
}
.bar .progress4 p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.bar .progress5
{
    height: 100%;
    width: 60%;
    background: linear-gradient(to right,rgb(236, 214, 91), rgb(221, 218, 17));
    border-radius: 20px;
    border: 1px solid var(--black);
}
.bar .progress5 p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
/***********popupExperience******/
.popup4
{
    position: absolute;
    top:50%;
    bottom: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
    background: var(--black);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 650px;
    border-radius: 8px;
    visibility: hidden;
    opacity:0;
    transition: .5s;
    z-index: 5;
}

.popup4:target
{
    visibility: visible;
    opacity: 1;
    
}
.popup4_content
{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    
}
.popup4_close
{
    position: absolute;
    right: 30px;
    top:0;
    text-decoration: none;
    color: grey;
    font-size: 3em;
}
/*******popup4 content****/
.ex1
{
    margin: 5px 0;
    padding:5px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: rgba(58, 93, 247, 0.397);
}
.ex2
{
    margin: 5px 0;
    padding:5px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: rgba(247, 58, 58, 0.397);
}
.ex3
{
    margin: 5px 0;
    padding:5px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: rgba(234, 247, 58, 0.397);
}
.ex4
{
    margin: 5px 0;
    padding:5px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: rgba(58, 247, 105, 0.397);
}
.popup4_content h2
{
    font-family: 'poppins',sans-serif;
    text-decoration: underline;
}
.popup4_content h3
{
    font-family: 'poppins',sans-serif;
}


